<section class="mt-24 pb-6 border-b border-gray-300">
   <h6 class="text-sm mb-3">Daniel Vasallo's Talkstarter</h6> 
   <h1 class="font-bold font-serif text-5xl">Pick topics for Daniel Vasallo's next talk</h1>
   <div class="flex items-center gap-x-3 mt-8">
    <span class="bg-stone-200 font-medium text-sm px-2 py-1 block rounded-full">2 topics</span>
    <span class="bg-stone-200 font-medium text-sm px-2 py-1 block rounded-full">from $25</span>
    <span class="bg-stone-200 font-medium text-sm px-2 py-1 block rounded-full">Zoom</span>
    <span class="bg-stone-200 font-medium text-sm px-2 py-1 block rounded-full">18+</span>
   </div>
</section>


<button class="bg-green text-white block rounded-full px-6 py-2 font-medium mt-12 cursor-pointer">Submit</button>
